faiss-cpu
fastapi
langchain==0.2.14
langchain_community
langchain-openai
langchain-upstage

langchain-chroma
langserve
sentence-transformers
sse-starlette
python-dotenv
predibase

# openai==0.28.1  # Rust 의존성 이전 버전
openai
tiktoken
chromadb

pymupdf
langchain_upstage